<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
 <div id= "app"> 
    <header>
 <div class="logo">MultiShop</div>
        <div class="cart">
            <search></search>
            <button class="btn-cart" type="button" @click="showCart = !showCart">
                Корзина
            </button>
            <div class="cart-block" v-show="showCart">
                <p v-if="!cartItems.length">Корзина пуста</p>
                <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                    <div class="product-bio">
                        <img :src="imgCart" alt="Some img">
                        <div class="product-desc">
                            <div class="product-title">{{item.product_name}}</div>
                            <div class="product-quantity">Quantity: {{item.quantity}} </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
    </header>
    <main>
        <div class="products">
            <div class="product-item" v-for="product of filtered" :key="product.id_product">
                <img :src="imgProduct" alt="фото товара">
                <div class="desc">
                    <h3> {{product.product_name}} </h3>
                    <p>{{product.price}}</p>
                    <button class="buy-btn" @click="addProduct(product)">Купить</button>
                </div>
            </div>
        </div>
    </main>
</div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="search.js"></script>
    <script src="main.js"></script>
</body>

</html>